@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,900|Roboto+Slab:400,700&subset=korean');
*, *::before, *::after{
  box-sizing: border-box;
}
html{
  font-size: 10px;
}
body{
  font-size: 1.6rem;
  margin: 0;
  color: #181818;
  font-family: 'Roboto Slab', serif;
  background-color: #e9edef;
}
a{
  color: inherit;
  /* inherit  내가 물려받은 컬러로 해줘 라는 선언 */
}
/* .container{
  background-color: gray;
}
.header{
  background-color: yellow;
}
.main{
  background-color: skyblue;
} */
/* .card-img{
  background: pink;
}
.card-content{
  background-color: orange;
}
.footer{
  background-color: lime;
} */
/* All Device & Mobile Device */
.rwd{
  max-width: 100%;
  height: auto;
}
.block{
  display: block;
}
.noto{
  font-family: 'Noto Sans KR', sans-serif;
}
.t-shadow{
  text-shadow: 1px 1px 0 #ccc, 2px 2px 1px #eee;
}
.b-shadow{
  box-shadow: 10px 10px 10px 0 #ddd;
  /* border: 1px solid #bbb; */
}
.text-1{
  font-size: 2.4rem;
  color: #333;
  margin: 20px 0;
}
.text-2{
  font-size: 2rem;
  color: #666;
  margin: 20px 0;
}
.text-3{
  font-size: 1.8rem;
  color: #f33;
  margin: 20px 0;
}
.header{
  padding: 50px 20px;
  /* background: yellow; */
  text-align: center;
}
/* branding */
.branding{
  /* background: pink; */
  width: 20%;
  min-width: 100px;
  margin: 0 auto;
}
/* main menu */
.main-menu{
  display: flex;
  justify-content: center;
  /* 메인축 정렬 justify-content */
  list-style-type: none;
  padding-left: 0;
}
.main-menu a.active{
  border-bottom: 3px solid currentColor;
}
/* main-menu의 하위속성 a를 선택 */
.main-menu a{
  margin: 0 20px;
  text-transform: uppercase;
  text-decoration: none;
  /* link의 밑줄을 사용하지 않을때 none */
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: -1px;
  transition: border-bottom 400ms, border-redius 400ms;
  /* transition 애니메이션 효과 시간 */
  /* border: 3px solid currentColor; */
  padding: 0 20px;
}
.main-menu a:hover, .main-menu a:focus{
  border-bottom: 3px solid currentColor;
  /* border-radius: 50px; */
}
.wrapper{
  padding: 0 40px;
}
.main{
  min-height: 70vh;
}
.card{
  background-color: #fff;
  margin: 20px 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: 400ms;
}
.card:hover{
  transform: translate(-5px,-5px);
}
.card-img{
  width: 50%;
  max-width: 300px;
}
.card-content{
  padding-top: 20px;
}
.footer{
  padding: 50px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 교차축 시점으로 정렬 align-items 교차축=y축*/
}
/* contact */
.contact{
  list-style-type: none;
  padding-left: 0;
  display: flex;
  font-weight: 200;
}
.contact a{
  margin: 0 10px;
}
.contact .dot::before{
  content: ".";
}
/* Desktop Device */
@media screen and (min-width: 1000px){
  html{
    font-size: 12px;
  }
  .container{
    display: flex;
    min-height: 100vh;
  }
  .header{
    width: 20%;
    max-width: 250px;
  }
  .header-content{
    display: none;
  }
  .main-menu{
    flex-direction: column;
  }
  .main-menu li{
    margin: 10px 0;
  }
  .wrapper{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card{
    flex-direction: row;
  }
  .card-img{
    width: 20%;
    min-width: 200px;
    margin-right: 20px;
  }
  .card-content{
    text-align: left;
  }
  .footer{
    flex-direction: row; 
    justify-content: center;
  }
  .contact{
    font-size: 1.2rem;
  }
  .copyright{
    margin: 100px;
  }
}